# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# keys file
firebase-keys.ts

#logs
firebase-debug.log

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
