.logOutBtnText {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.navText,
.portal,
.newsLeft {
  color: #5d5fef;
}

.news,
.portal,
.homeText,
.loginText {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.logOutBtnText {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.loginBtn,
.logOutBtn {
  cursor: pointer;
  background: #5d5fef;
  border-radius: 4px;
  width: 70px;
  height: 37px;
  border: none;
}

.loginText,
.logOutBtnText {
  color: white;
}

.dash {
  width: 19px;
  height: 2px;
  background: #5d5fef;
  border-radius: 2px;
  margin-top: 2px;
}

.newsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createPostText {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 21px;
  color: #5d5fef;
}

.homeText {
  background: #5d5fef;
  border-radius: 4px;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 37px;
}

.centerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.newsLink {
  width: 56px;
  height: 37px;
  background: #5d5fef;
  border-radius: 4px;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.newsLeft,
.blog {
  font-family: "Roboto";
}

.newsLeft {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.newsLeftLink {
  margin-right: 40px;
}

.blogLink {
  margin-right: 35px;
}

.rightLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authImg {
  width: 38px;
  height: 38px;
  border: 2px solid #dddddd;
  border-radius: 64px;
}

.blog {
  color: #a3a3a3;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.homeContainer {
  width: 100%;
  min-width: 100px;
  margin-right: 0px;
}

.leftLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
