.post {
  width: 100%;
  height: auto;
  max-height: 600px;
  background-color: #fff;
  box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  font-family: "Roboto";
}

.postImage {
  display: flex;
}

.postImage img {
  max-width: 244px;
  max-height: 300px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  padding-left: 0;
}

.postBodyText {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.postTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #121221;
}

.postTextContainer {
  color: #949494;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postShowMore {
  cursor: pointer;
  padding: 11px 10px;
}
