.post {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  font-family: "Roboto";
}

.postImage {
  display: flex;
}

.postImage img {
  max-width: 244px;
  max-height: 300px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  padding-left: 0;
  row-gap: 20px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
}

.postShowMore {
  cursor: pointer;
  padding: 11px 10px;
}

@media (max-width: 1437px) {
  .postContainer {
    padding-right: 0;
  }
}

@media (max-width: 685px) {
  .postShowMore {
    display: none;
  }

  .postFooter {
    justify-content: center;
  }
}
