.logOutBtnText {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31px;
}

nav {
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 135px;
    margin-right: 135px;
}

.navText,
.portal,
.newsLeft {
    color: #5D5FEF;
}

.news,
.portal,
.homeText,
.loginText {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.logOutBtnText {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.loginBtn,
.logOutBtn {
    cursor: pointer;
    background: #5D5FEF;
    border-radius: 4px;
    width: 70px;
    height: 37px;
    border: none;
}

.loginText,
.logOutBtnText {
    color: white;
}

.dash {
    width: 19px;
    height: 2px;
    background: #5D5FEF;
    border-radius: 2px;
    margin-top: 2px;
}

.newsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.createPostText {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 21px;
    color: #5D5FEF;
}

.homeText {
    background: #5D5FEF;
    border-radius: 4px;
    color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 37px;
}

.centerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsLink {
    width: 56px;
    height: 37px;
    background: #5D5FEF;
    border-radius: 4px;
    color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsLeft,
.blog {
    font-family: 'Roboto';
}

.newsLeft {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.newsLeftLink {
    margin-right: 40px;
}

.blogLink {
    margin-right: 35px;
}

.rightLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authImg {
    width: 38px;
    height: 38px;
    border: 2px solid #DDDDDD;
    border-radius: 64px;
}

.blog {
    color: #A3A3A3;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.homeContainer {
    margin-right: 0px;
}

.leftLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}
