.commentWrap {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.commentText {
  font-weight: 500;
  font-size: 18px;
  color: #121221;
  word-break: break-all;
}

@media (max-width: 500px) {
  .commentWrap {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}
