.commentsWrap {
  display: flex;
  column-gap: 60px;
  margin: 0 auto;
}

.commentsPost {
  min-height: auto;
  padding-top: 0;
}

.commentsList {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.commentsActionWrap {
  display: flex;
  row-gap: 30px;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}
