.sandboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20em;
}

.button {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 100%;
  border-radius: 4px;
  padding: 6px 16px;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color .2s linear;
}

.small {
  max-width: 109px;
}

.medium {
  max-width: 169px;
}

.primary {
  background-color: #006297;
}


.button:hover {
  background-color: #004F79;
  transition: background-color .2s linear;
}

.button:active {
  background-color: #003D5E;
}