.sandboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20em;
  margin-bottom: 2em;
  /* margin: 3em 0 15em 0; */
}

.dropdownContainer {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #0F1416;
  max-width: 252px;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}

.dropdownInput {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdownInputValue {
  padding: 4px 12px;
  transition: background-color .2s linear;
}

.dropdownInputValue:hover { 
  background-color: #F0F1F3;
}

.dropdownSelectedValue {
  background-color: #E7F0F5;
}