.modalCommentsBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 128, 128, 0.6);
  padding-top: 10%;
}

.modalCommentsWrapper {
  width: 100%;
  padding: 20px 7%;
  border-radius: 4px;
}
